.pageWrapper {
  max-width: 1200px;
  padding: var(--default-page-content-padding);
  margin: auto;
  display: flex;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 0 !important;
}
