.pageWrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
  overflow: hidden;
}

.buttonWrapper {
  width: 100%;
  justify-content: space-between;
}

.title {
  margin-bottom: 0 !important;
}

.cardLogo {
  height: 80px;
}