.topBanner {
  background-image: url('../../../components/assets/background.svg'),
    linear-gradient(266deg, #28aae2 0.82%, #006095 98.04%);
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 24px;
}
.contentContainer {
  max-width: 1200px;
  width: 100%;
}
.languageButton {
  position: absolute !important;
  top: 40px;
  right: 40px;
}
.wrapperContent {
  display: flex;
  max-width: 1200px;
  align-items: center;
  gap: 80px;
  align-self: stretch;
}
.content {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.logo {
  height: 104px;
  width: 300px;
}
.title {
  font-size: 24px;
  font-weight: 800;
  line-height: normal;
  color: var(--gray-1);
}
.description {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--gray-1);
}

.radiantContent {
  display: flex;
  max-width: 495px;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 16px;
  background: var(--gold-5);
  position: relative;
}
.radiantContent::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../../components/assets/radiantCard-bg.svg');
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 16px;
  opacity: 0.6;
  z-index: 1;
  pointer-events: none;
}
.radiantContent > * {
  position: relative;
  z-index: 2;
}
.radiantTitle {
  align-self: stretch;
  color: var(--gray-8);
  font-size: 20px;
  font-weight: 800;
  line-height: 28px;
  position: relative;
}
.radiantDescription {
  align-self: stretch;
  color: var(--gray-8);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  position: relative;
}
.radiantTag {
  display: flex;
  padding: 1px 8px;
  align-items: center;
  gap: 4px;
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 2px;
  background: var(--gray-1);
  color: var(--blue-9);
}

@media (min-width: 800px) and (max-width: 1024px) {
  .topBanner {
    padding: 40px 40px;
  }
  .content {
    max-width: 720px;
  }
  .radiantContent {
    max-width: 720px;
  }
  .wrapperContent {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .topBanner {
    padding: 40px 40px;
  }
  .content {
    max-width: 520px;
  }
  .radiantContent {
    max-width: 520px;
  }
  .wrapperContent {
    flex-direction: column;
  }
}
