.contactSectionWrapper {
  display: flex;
  padding: 24px 0;
  align-items: flex-start;
  align-content: flex-start;
  gap: 40px;
  align-self: stretch;
  flex-wrap: wrap;
  flex: 1 0 0;
}

.footerItemWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footerItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footerItemValues {
  color: var(--blue-8);
  font-size: 14px;
  font-weight: 600;
}

.footerItemIcon {
  opacity: 0.5;
}

.footerItemLabel {
  font-size: 12px;
}
