.contentWrapper {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  flex-wrap: wrap;
}

.descriptionWrapper {
  width: 55%;
}

.managersWrapper {
  display: flex;
  max-width: 480px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 32px 0;
  flex: 1 0 0;
  flex-wrap: wrap;
}

.managerWrapper {
  display: flex;
  min-width: 220px;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  gap: 4px;
  font-size: 12px;
}

.managerText {
  font-weight: 600;
}

.managerPicture {
  margin-bottom: 8px;
  border-radius: 50%;
}

.defaultPicture {
  margin-bottom: 8px;
  border-radius: 50%;
  background: var(--gray-2);
  color: var(--gray-4);
  display: flex;
  width: 104px;
  height: 104px;
  font-size: 48px;
  justify-content: center;
  align-items: center;
}